<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <title>BANKING SYSTEM</title>
</head>

<body>
  <h3> bank details of branch with ifsc code :{{ifsc}} </h3>
  
  <table>
  <tr>
  <th>bank_id</th>
  <th>branch</th>
  <th>address</th>
  <th>city</th>
  <th>district</th>
  <th>state</th>
  </tr>
  <table>
  
  
  {% for i in res %}
  <table>
  <tr>
  <td>
  {{i}}
  </td>
  </tr>
  </table>
  {% endfor %}
  
  

  

</body>

</html>
